In [68]:
import pandas as pd
import datetime
import re
import math

In [69]:
MAP = pd.read_excel (r'Combined.xlsx' , sheet_name='MAP')
print(MAP)

  Oven     A0     A1     A2     A3     A4     A5     A6     B2     B3  ...  \
0   O1  260.0  260.0  390.0  390.0  400.0  400.0  400.0    NaN    NaN  ...
1   O2    NaN    NaN    NaN    NaN    NaN    NaN    NaN  240.0  240.0  ...
2   O3    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  ...
3   O4  260.0  260.0  390.0  390.0  400.0  400.0  400.0    NaN    NaN  ...
4   O5   60.0   60.0   60.0   60.0   60.0   60.0   60.0    NaN    NaN  ...
5   O6    NaN    NaN    NaN    NaN    NaN    NaN    NaN   60.0   60.0  ...

      C2     C3     C4     C5     C6  Blower B6  Blower B111  Blower B142  \
0    NaN    NaN    NaN    NaN    NaN        NaN          NaN          NaN
1    NaN    NaN    NaN    NaN    NaN      390.0        180.0        180.0
2  210.0  210.0  240.0  240.0  240.0        NaN          NaN          NaN
3    NaN    NaN    NaN    NaN    NaN        NaN          NaN          NaN
4   60.0   60.0   60.0   60.0   60.0        NaN         60.0         60.0
5    NaN    NaN    NaN    NaN    NaN       60.0          NaN          NaN

   Blower B146  Blower B200
0          NaN          NaN
1        180.0        180.0
2          NaN          NaN
3          NaN          NaN
4         60.0         60.0
5          NaN          NaN

[6 rows x 25 columns]

In [43]:
#MAP.columns[1]
MAP.iloc[:, 0][0]

'O1'

In [16]:
data_iterate = []
for column in MAP:
    data_iterate.append(MAP[column])

print(data_iterate[5])

0    400.0
1      NaN
2      NaN
3    400.0
4     60.0
5      NaN
Name: A4, dtype: float64

In [ ]:
task = ()
data = {}
data_iterate = []

for column in MAP:
    data_iterate.append(MAP[column])
    
    
for i in range(len(MAP.columns)):
    for j in range(len(MAP)):
        if !math.isnan(data_iterate[i][j]): 
            job = ('MAP.columns[1]','MAP.iloc[:, 0]')
            prev_job = job
            duration_value = data_iterate[i][j]
            prereq = False
        
        task.append(job)
        data.update({'dur': duration_value})
        data.update({'prec': prev_job})

        
my_dictionary = dict.fromkeys(task,data)

In [67]:
cities = (('Paris','xyz'),('Athens','xyz'), ('Madrid','xyz'))

continent = {'Eu':'5', "prec":('Paris','xyz')}

my_dictionary = dict.fromkeys(cities,continent)

print(my_dictionary)

{('Paris', 'xyz'): {'Eu': '5', 'prec': ('Paris', 'xyz')}, ('Athens', 'xyz'): {'Eu': '5', 'prec': ('Paris', 'xyz')}, ('Madrid', 'xyz'): {'Eu': '5', 'prec': ('Paris', 'xyz')}}